@model IEnumerable<Sozif.TaxRates>

@{
    ViewData["Title"] = "Stawki VAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista stawek VAT</h1>

<div class="row">
    <div class="col-md-6">
        <p>
            <a asp-action="Create"><input class="btn btn-success" type="button" value="Dodaj nową stawkę" /></a>
        </p>
    </div>
</div>
<table id="TaxRates" class="table table-bordered sortable">
    <thead>
        <tr>
            <th>
                Stawka
            </th>
            <th class="sorter-false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.Rate)%
                </td>
                <td style="vertical-align: middle">
                    <a asp-action="Edit" asp-route-id="@item.TaxRateId"><input class="btn btn-outline-primary" type="button" value="Edytuj" /></a>
                    <a asp-action="Delete" asp-route-id="@item.TaxRateId"><input class="btn btn-outline-danger" type="button" value="Usuń" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TaxRates").tablesorter({
                theme: 'blue',
                widgets: ['zebra']
            });
        });
    </script>
}