@model IEnumerable<Sozif.TaxRates>

@{
    ViewData["Title"] = "Stawki VAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Lista stawek VAT</h1>

<p>
    <a asp-action="Create"><input class="btn btn-primary" type="button" value="Dodaj nową stawkę" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Stawka
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ bool row = true; }
        @foreach (var item in Model)
        {
            row = !row;
            <tr class=@(row ? "d0" : "d1")>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)%
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaxRateId"><input class="btn btn-outline-primary" type="button" value="Edytuj" /></a>
                    <a asp-action="Delete" asp-route-id="@item.TaxRateId"><input class="btn btn-outline-danger" type="button" value="Usuń" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
