@model Sozif.Models.ProductDTO

@{
    ViewData["Title"] = "Dodawanie nowego produktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodawanie nowego produktu</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nazwa produktu</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cena netto</label>
                <input asp-for="BaseNetPrice" step=".01" class="form-control" />
                <span asp-validation-for="BaseNetPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Stawka VAT</label>
                <select asp-for="TaxRateId" class ="form-control" asp-items="ViewBag.TaxRateId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj produkt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy produktów</a>
</div>