@model Sozif.Models.ProductDTO

@{
    ViewData["Title"] = "Edycja \"" + Model.ProductName + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edycja produktu</h1>
<h5 class="error-message">@ViewBag.ErrorMessage</h5>

<h4>@Model.ProductName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label class="control-label">Nazwa produktu</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cena netto</label>
                <input asp-for="BaseNetPrice" step=".01" class="form-control" />
                <span asp-validation-for="BaseNetPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Stawka VAT</label>
                <select asp-for="TaxRateId" class="form-control" asp-items="ViewBag.TaxRateId"></select>
                <span asp-validation-for="TaxRateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.ProductId"><input class="btn btn-secondary" type="button" value="Wróć do szczegółów produktu" /></a>
</div>

