@model Sozif.Customers

@{
    ViewData["Title"] = "Dodawanie nowego klienta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Dodawanie nowego klienta</h1>

<h5 class="error-message">@ViewBag.ErrorMessage</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nazwa klienta</label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">NIP</label>
                <input asp-for="NipString" pattern="[0-9-]{10,13}" class="form-control" />
                <span asp-validation-for="NipString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Osoba do kontaktu</label>
                <input asp-for="ContactPerson" class="form-control" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Numer telefonu</label>
                <input asp-for="PhoneNumberString" pattern="[0-9-]{9,13}" class="form-control" />
                <span asp-validation-for="PhoneNumberString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Adres</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kod pocztowy</label>
                <input asp-for="PostalCode" pattern="[0-9-]{6,6}" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Miasto</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj klienta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><input class="btn btn-secondary" type="button" value="Wróć do listy klientów" /></a>
</div>

